---
layout: default
---
<div class="row">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>


	{% for klas in site.data.klassen %}
	<section class="small-4 large-4 columns page-content">
		<div class="card hovercard">
			<div class="cardheader" style="background-image: url(/bolt/files/2015-04/K1a.jpg)">

			</div>
			<div class="avatar">
				<img alt="" src="{{ site.baseurl }}{{ klas.juf-image}}">
			</div>
			<div class="info">
				<div class="title">
					<a target="_blank" href="klas/{{ klas.title }}">{{ klas.title }}</a>
				</div>
				<div class="desc"><b>{{ klas.title }}</b></div>
				<div class="desc">{{ klas.juf | titlecase }}</div>
				<div class="desc">Kleuterjuf</div>
			</div>
			<div class="bottom">
				<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-danger btn-sm" rel="publisher"
				   href="https://plus.google.com/+ahmshahnuralam">
					<i class="fa fa-google-plus"></i>
				</a>
				<a class="btn btn-primary btn-sm" rel="publisher"
				   href="https://plus.google.com/shahnuralam">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
					<i class="fa fa-behance"></i>
				</a>
			</div>
		</div>
	</section>
	{% endfor %}

</div>