---
layout: default
---
<div class="row">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>


	{% for klas in site.data.klassen %}
	<div class="small-12 medium-6 large-3 columns page-content">
		<div class="card hovercard">
			<div class="cardheader" style="background-image: url({{ site.baseurl }}/images/{{ klas.klas-image}})">

			</div>
			<div class="avatar">
				<a href="{{ klas.title | lower }}"><img alt="" src="{{ site.baseurl }}/images/{{ klas.juf-image}}"></a>
			</div>
			<div class="info">
				<div class="title">
					<a href="{{ klas.title }}">{{ klas.title | lower }}</a>
				</div>
				<div class="desc"><b>{{ klas.title }}</b></div>
				<div class="desc">{{ klas.juf | titlecase }}</div>
				<div class="desc">Kleuterjuf</div>
			</div>
			<div class="bottom">
				<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-danger btn-sm" rel="publisher"
				   href="https://plus.google.com/+ahmshahnuralam">
					<i class="fa fa-google-plus"></i>
				</a>
				<a class="btn btn-primary btn-sm" rel="publisher"
				   href="https://plus.google.com/shahnuralam">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
					<i class="fa fa-behance"></i>
				</a>
			</div>
		</div>
	</div>
	{% endfor %}

</div>